In [ ]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sbs
from sklearn import linear_model
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Preparing Data for analysis

In [ ]:
fund_df = pd.read_excel('/assignment2.xlsx')
pd.to_datetime(fund_df['Date'])
fund_df=fund_df.set_index('Date')

In [ ]:
fund_df.head()

            Excess Return vs Mrkt     SML     HML     RFR    Return
Date
2010-01-29                -0.0336  0.0037  0.0033  0.0000 -0.018528
2010-02-26                 0.0340  0.0119  0.0319  0.0000  0.018339
2010-03-31                 0.0631  0.0144  0.0211  0.0001  0.050318
2010-04-30                 0.0200  0.0486  0.0291  0.0001  0.008069
2010-05-28                -0.0789  0.0014 -0.0239  0.0001 -0.065033

In [ ]:
fund_df = fund_df.rename(columns={'Excess Return vs Mrkt': 'RMRF'})

In [ ]:
fund_df['ReturnMinusRFR'] = fund_df['Return'] - fund_df['RFR']
fund_df.head(13)

              RMRF     SML     HML     RFR    Return  ReturnMinusRFR
Date
2010-01-29 -0.0336  0.0037  0.0033  0.0000 -0.018528       -0.018528
2010-02-26  0.0340  0.0119  0.0319  0.0000  0.018339        0.018339
2010-03-31  0.0631  0.0144  0.0211  0.0001  0.050318        0.050218
2010-04-30  0.0200  0.0486  0.0291  0.0001  0.008069        0.007969
2010-05-28 -0.0789  0.0014 -0.0239  0.0001 -0.065033       -0.065133
2010-06-30 -0.0557 -0.0184 -0.0452  0.0001 -0.039058       -0.039158
2010-07-30  0.0693  0.0018 -0.0036  0.0001  0.056236        0.056136
2010-08-31 -0.0477 -0.0302 -0.0190  0.0001 -0.033737       -0.033837
2010-09-30  0.0954  0.0393 -0.0323  0.0001  0.059786        0.059686
2010-10-29  0.0388  0.0107 -0.0246  0.0001  0.032225        0.032125
2010-11-30  0.0060  0.0378 -0.0095  0.0001 -0.016113       -0.016213
2010-12-31  0.0682  0.0068  0.0364  0.0001  0.059175        0.059075
2011-01-31  0.0199 -0.0252  0.0082  0.0001  0.020538        0.020438

## Part 1: Running Lenear Regression model:

In [ ]:
# preparing data to input it into the modeL: 
X = fund_df[['RMRF', 'SML', 'HML']]
y = fund_df[['ReturnMinusRFR']]

In [ ]:
FF_lm = linear_model.LinearRegression()
FF_lm.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
print(FF_lm.coef_)
print(FF_lm.intercept_)

[[ 0.842325   -0.10659514  0.17683967]]
[-0.00239465]

In [ ]:
# preparing data to input it into the modeL: 
X = fund_df[['RMRF', 'SML', 'HML']]
y = fund_df[['ReturnMinusRFR']]
# adding constant for the regression analysis
X = sm.add_constant(X)
# Creating model object
model = sm.OLS(y,X)
results = model.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:         ReturnMinusRFR   R-squared:                       0.936
Model:                            OLS   Adj. R-squared:                  0.935
Method:                 Least Squares   F-statistic:                     569.2
Date:                Mon, 22 Mar 2021   Prob (F-statistic):           3.38e-69
Time:                        03:07:44   Log-Likelihood:                 406.38
No. Observations:                 120   AIC:                            -804.8
Df Residuals:                     116   BIC:                            -793.6
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0024      0.001     -2.982      0.003      -0.004      -0.001
RMRF           0.8423      0.022     38.170      0.000       0.799       0.886
SML           -0.1066      0.037     -2.914      0.004      -0.179      -0.034
HML            0.1768      0.034      5.230      0.000       0.110       0.244
==============================================================================
Omnibus:                        3.705   Durbin-Watson:                   1.888
Prob(Omnibus):                  0.157   Jarque-Bera (JB):                3.132
Skew:                          -0.367   Prob(JB):                        0.209
Kurtosis:                       3.298   Cond. No.                         49.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""